@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
header img{
    width: 220px;
    height: 90px;
    padding: 0px 0px 0px 30px;
}
.search-bar{
    position:relative;
    padding: 45px 0px 10px 150px;
}
.search-bar input{
    height: 40px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding-left: 10px;
    /* font-family: ; */
  
}
.search-bar i{  
    position: absolute;
    bottom: 23px;
    right: 15px;
}
