.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding:20px 30px;
    background-color: #F8FAF9;
}
.box p span{
    font-weight: 150;
    color: #757575;
}

.no-page{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}